.side_bar
  .side_bar__header
    .side_bar__header__item_box
      .side_bar__header__item_box__name
      %p aaa
      .side_bar__header__item_box__icons
        .side_bar__header__item_box__icons__new-group
        = link_to "" do 
          = icon('fas','edit') 
        .side_bar__header__item_box__icons__edit-user
        =link_to "" do
          = icon('fas','cog')
  .side_bar__group_box
    .side_bar__group_box__group_name
      %p name 
      
    .side_bar__group_box__message_log
      %p まだ投稿はありません。








