* {
  box-sizing: border-box;
}


.side_bar{
  width:300px;
  height:100vh;
  background-color:#2f3e51;
  position: fixed;
  bottom: 0;
  &__header{
    width:300px;
    height:100px;
    display: flex;
    align-items: center;
    background-color:#253141;
    &__item_box{
      display: flex;
      align-items:center;
      background-color:#253141;
      height:20px;
      width:100%;
      margin-left:20px;
      margin-right:20px;
        h3{
          color:#ffffff;
          font-size: 16px;
          font-weight:bold;
          right:10px;
          display: inline-block;
          margin-right: 185px;
          margin-left: 5px;
        }
      &__icons{
        float: right;
        display: inline-block;
        display:flex;
        a{
          color:#ffffff;
        }
      }  
    }
  }

  &__group_box{
    &__group_name{
      
      p{
      }
    }
    &__message_log{
      margin-bottom:40px;
      p{
        font-size: 11px;
      }
    }
  }
  .groups{

    .group{
      padding-top:20px;
      padding-bottom:5px;
      &__name{
        color:#ffffff;
        font-size: 15px;
      }
      &__message{
        color: #ffffff;
        font-size:15px;
      }
    }
  }
  

}
.wrapper{

  .header{
    
    width:calc(100vw - 300px) ;
    height:100px;
    background-color: #ffffff;
    position:fixed;
    top:0px;
    left:300px;
    z-index: 1;
    &__left_box{
      width:100%;
      height:100px;
      p{

        padding:35px 0 15px 0;
        font-size: 20px;
      }
      &__member{
      color: #999999;
      font-size: 12px;
      
    }
    }
    .messages{
      width:100%;
      height:600px;
      overflow: scroll;
      height: calc(100vh - 190px);
      .message{
        width:calc(100% - 300px)

      }
    }
    &__left_box{
      margin-left:40px;
      &__member{
        
        color:#999999;
        font-size: 12px;    
      }
    }
    &__edit_btn{
      width: 80px;
      font-size: 20px;
      padding:0 20px;
      height:40px;
      border:solid 1px skyblue;
      line-height:40px;
      color:skyblue;
      float: right;
      position: absolute;
      right: 50px;
      top: 30px;
    }
  }
  .upper-message{
    padding:35px 0 46px 20px;
    width:100%;
          
    .upper-message__user-name{
      padding-right:10px;
      float: left;
    }
  }
  .lower-message{
    padding-left:20px;
  }

  .chat_main{
    width:calc(100vw - 300px);
    display: flex;
    background-color:#fafafa;
    
    &__message{
      width:calc(100vw - 300px);
      padding-left:40px;
      position:absolute;
      top:100px;
      left:300px;
      background-color: #fafafa;
      &__info {
        display:flex;
        &__name{
          padding-top:45px;
          padding-bottom:12px;
          color:#333333;
          font-size: 16px;
          
        }
        &__time{
          padding-top:45px;
          padding-left:10px;
          font-size: 12px;
          color:#999999;
        }
      }
      &__comment{
        color: #434A54;
        font-size: 14px;
        padding-bottom:46px
        
        
      }
    }
    
    &__footer{
      width:calc(100vw - 300px);
      height:90px;
      position:fixed;
      bottom:0;
      left:300px;
      background-color:#d2d2d2d2;
      z-index:1;
      
      .form__message{
        line-height: 90px;
        height: 50px;
        margin-right: 155px;
        margin-top:20px;
        margin-left:45px;
        background-color:white;
        width:calc(100% - 200px);
        padding-left:10px
      }
      &__form{
        height: 50px;
        margin-right: 155px;
        margin-top:20px;
        margin-left:45px;
        background-color:white;
        position: relative;
        display: flex;
        position: fixed;
        
        
        &__image{
          line-height: 50px;
          margin-left:10px;
          font-size: 1.3rem;
          position: absolute;        
          left: 1140px;
        }
    }
    &__send_btn{
      line-height: 50px;
      margin:20px 40px 20px 0;
      position: absolute;
      bottom:0;
      right: 0px;
      .form__submit{
        background-color: skyblue;
        color: white;
        width:100px;
        height:50px;
        
      }
      
      
      
    }
    .hidden {
      display: none;
    }
    .icon{
      position: absolute;
      right:12%;
      top:41%;
      
    }
  }
}
}


